@import './../../variables.scss';

.Profile {
    padding: $spacing-02 $spacing-03;
    color: $fontColor;
    border-radius: 4px;
    background: $bg-color-light;
    box-shadow: $shadow-02;
    margin-bottom: $spacing-04;
    &Header {
        display: flex;
        justify-content: flex-end;

        &Button {
            margin-right: $spacing-02;
        }
    }

    .editHeader {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        >div {
            &:not(:last-of-type) {
                margin-right: $spacing-02;
            }
        }
    }

    &Content {
        position: relative;

        :global {
            .header-3 {
                margin-bottom: $spacing-05;
            }
        }
    }

}

.table {
    border-collapse: collapse;
    tr {
        &:first-of-type {
            border-bottom: 1px solid $border;
        }
        
        th, td {
            text-align: left;
            &:not(:last-of-type) {
                padding: $spacing-01 $spacing-03;
                max-width: 10rem;
                width: 10rem;
            }
            @include truncate();

            &.empty {
                color: #eaeaea;
            }

            input {
                min-width: auto;
            }
        }
    }
}

hr {
    border-top: 0;
    border-bottom: 1px solid $border;
}