@import './../../variables.scss';

.Work {
    &Header {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-03;

        &Actions {
            display: flex;
            align-items: center;
        }
    }

    &Buttons {
        display: flex;
        justify-content: flex-start;
        margin-bottom: $spacing-02;
        gap: $spacing-02;
    }

    .dropdown {
        margin-left: $spacing-03;
        &Item {
            display: flex;
            align-items: center;
            svg {
                margin-right: $spacing-02;
                flex-shrink: 0;

            }
        }
    }
}