@import './../../../variables.scss';


.WorkTile {
    margin-bottom: $spacing-02;
    margin-right: 50px;
    height: 80px;
    padding: $spacing-02 $spacing-03;
    border-radius: 4px;
    background: $bg-color-light;
    box-shadow: $shadow-02;

    &Name {
        font-size: $font-size-02;
        margin-bottom: $spacing-01;
        color: $info;
    }

    &Body {
        font-size: $font-size-03;
        color: $fontColor;
    }
}