@import './../../../variables';

.NavbarNotifications {
    position: fixed;
    top: $header-height;
    right: $spacing-02;
    width: 20rem;
    max-width: 80%;
    height: auto;
    margin-top: $spacing-03;
    border-radius: 4px;
    background: $bg-color-light;
    box-shadow: $shadow-02;
    max-height: 20rem;
    overflow: auto;
    &::after {
        position: absolute;
        top: -8px;
        right: $spacing-02;
        height: 0;
        content: '';

@include topArrow($color: $bg-color-light, $width: 8px);
    }
}

.post {
    position: relative;
    display: block;
    display: flex;
    width: 100%;
    min-width: 0;
    padding: $spacing-01 $spacing-03 $spacing-01 $spacing-02;
    text-decoration: none;
    >
    div {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
    }

    &Container {
        display: flex;
    }

    &Close {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        width: 2rem;
        border: 2px solid transparent;
        background: none;
        &:hover {
            color: $fontColorAlt;
            background: rgba($danger, 0.5);
        }

        &:focus {
            border-color: rgba($danger, 0.75);
            outline: 0;
        }
    }

    &:hover {
        background: rgba($active, 0.1);
    }

    &:not(:last-of-type) {
        &::after {
            position: absolute;
            right: $spacing-03;
            bottom: 0;
            left: $spacing-03;
            height: 1px;
            content: '';
            background: $border;
        }
    }
    &Title {
        @include truncate();
    }

    &Content {
        font-size: $font-size-03;
        margin: 0;
        color: $fontColor;

@include truncate();
    }

    &Time {
        font-size: $font-size-03;
        font-weight: bold;
        margin-top: $spacing-01;
        padding-right: $spacing-04;
        text-align: right;
        color: $info;
    }

    &Image {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        border-radius: 50%;
    }
}