@import 'variables';

.header {
    &-2 {
        margin-top: 0;
        margin-bottom: $spacing-02;
        color: $fontColor;
    }

    &-3 {
        font-size: $font-size-02;
        font-weight: normal;
        margin: 0;
        margin-bottom: $spacing-02;
    }

    &-4 {
        font-size: $font-size-03;
        margin: $spacing-02;
        color: $fontColorLight;
    }

    &-5 {
        font-size: $font-size-03;
        font-weight: bold;
        margin: 0;
        color: $fontColor;
    }

    &-sub {
        font-size: $font-size-02;
        margin: $spacing-02;
        color: $fontColor;
    }

    &-indent {
        margin-left: $spacing-04;
    }

    &-bold {
        font-weight: bold;
    };
}