.header {
    &-2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: black;
    }

    &-3 {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    &-4 {
        font-size: 0.75rem;
        margin: 0.5rem;
        color: grey;
    }

    &-5 {
        font-size: 0.75rem;
        font-weight: bold;
        margin: 0;
        color: black;
    }

    &-sub {
        font-size: 1rem;
        margin: 0.5rem;
        color: black;
    }

    &-indent {
        margin-left: 1rem;
    }

    &-bold {
        font-weight: bold;
    };
}