@import './../../../variables';


.ActionButton {
    font-size: $icon-size-01;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: color 0.24s;
    color: rgba($fontColor, 0.5);
    border: 0;
    border-radius: 50%;
    outline: 0;
    background: rgba($fontColor, 0.15);

    &Container {
        position: relative;
    }

    &:focus {
        color: $active;
        border: 2px solid $active;
    }
    &[disabled] {
        background: transparent;

        &:focus {
            border: 2px solid rgba($fontColor, 0.2);
        }
    }
    &Count {
        font-size: 0.75rem;
        position: absolute;
        top: (-$spacing-01);
        right: (-$spacing-01);
        width: 1.5rem;
        text-align: center;
        color: $fontColorAlt;
        border-radius: 1rem;
        background: $info;

        animation: showCount 1s forwards;
        @keyframes showCount {
            0%{
                transform: scale(0);
            }

            40% {
                transform: scale(0.8);
            }

            50% {
                transform: scale(1) rotate(-10deg);
            }

            60% {
                transform: scale(1) rotate(0);
            }

            70% {
                transform: scale(1) rotate(10deg);
            }

            80% {
                transform: scale(1) rotate(0);
            }

            90% {
                transform: scale(1) rotate(-10deg);
            }

            100% {
                transform: scale(1) rotate(0);
            }
        }
    }
}